---
import SwapComponent from '../components/Swap.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Nizer.">
	<main class="space-y-40 mb-40">
		<SwapComponent/>
		{/* 
			<Stats/>
			<Testimonials/>
			<CallToAction/>
			<Blog/>
		 */}
	</main>
</Layout>