---
import Container from "./Container.astro";


---

<div class="relative" id="form">
  <Container>
    <form class="max-w-sm mx-auto">
      <h2 class="my-8 text-xl font-bold text-gray-700 dark:text-white md:text-4xl">
        Create your LST
      </h2>

      <div class="mb-5">
        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">LST Name</label>
        <input type="text" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="BowWow" required />
      </div>
      <div class="mb-5">
        <label for="ticker" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ticker</label>
        <input type="text" id="ticker" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Bow-SOL" required />
      </div>

      <div class="mb-5 grid gap-4 sm:grid-cols-2 sm:gap-6">
          <div class="w-full">
              <label for="price" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Decimals</label>
              <input type="number" name="decimals" id="decimals" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="" required="" value="9">
          </div>
          <div class="w-full">
              <label for="brand" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">APY</label>
              <input type="text" name="brand" id="brand" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Max:7%" required="">
          </div>
      </div>

      <div class="mb-6">
        <label class="block text-sm font-medium text-gray-900 dark:text-white" for="user_avatar">Image file</label><br>
        <div class="flex items-center h-5">
          <input class="block w-full text-md text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" aria-describedby="user_avatar_help" id="user_avatar" type="file">
        </div>
      </div>

      <div class="sm:col-span-2">
          <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
          <textarea id="description" rows="2" class="block p-2 w-full text-sm text-gray-900 bg-gray-50 rounded border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Write a product description here...">BowWow community LST</textarea>
      </div>
      
      <div class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-6">
        <div class="mt-12 lg:mt-0">
            <button
                type="submit"
                class="relative flex h-9 w-20 items-center justify-center px-4 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
                >
                <span class="p-4 relative text-sm font-semibold text-white"
                    >Submit</span
                >
            </button>
        </div>
      </div>
    </form>
  </Container>
</div>